	<div class="palm-scrim" id="searchScrim" style="display: none;">
		<div class="boxtable">
				<div id="search-header" class="search-button">
					<div id="MainSearch" class="textfield">

							<input id="MainSearchField" type="text" contenteditable="true" x-palm-disable-auto-replace="true" x-palm-disable-auto-cap="true" x-palm-enable-emoticons="false">

					</div>
				</div>
				<div id="NoResults" class="pac-container" style="display: none;">
					<div id="NoResultsItem" class="pac-item"></div>			
				</div>			
					<div x-mojo-element="Button" id="TPBackButton" class="BackButton" style="display: none"></div>
					<div class="hint" id="HintText"></div>			
		</div>
	</div>

	<div class="palm-scrim" id="directionsScrim" style="display: none;">
		
			<div class="directions-container">
				
			 
				 
				<div id="DirectionsInput">
					<div x-mojo-element="Scroller" id="DirectionsOptionsScroller">
							<div class="smalltitle" id="OriginText"><img src="images/bubble/flagA.png" width="24" height="24" >Origin:</div>		
							<table class="palm-divider">					
								<tr>
									<td>
										<div id="origin-header" class="origin-bar">						
											<div id="OriginSearch" class="textfield">
												<input id="OriginSearchField" type="text" autoselect>
											</div>
										</div>
									</td>
									<td>
										<div id="OriginMarkersButton" class="origin-button"></div>
									</td>
								</tr>
							</table>	
						<div id="SwapButton"></div>
						<div class="smalltitle" id="DestinationText"><img src="images/bubble/flagB.png" width="24" height="24">Destination:</div>					
						<table class="palm-divider">					
								<tr>
									<td>
										<div id="destination-header" class="destination-bar">		
												<div id="DestinationSearch" class="textfield">
													<input id="DestinationSearchField" type="text" autoselect>
												</div>
										</div>
									</td>
								<td>
									<div id="DestinationMarkersButton" class="origin-button"></div>
								</td>
							</tr>
						</table>	
						<div>
						  <div x-mojo-element="RadioButton" id="DirectType" name="DirectType">
						  </div>
						  <div id="DirectRadioImages"></div>					  
						</div>	
						
					<div id="ProvideRouteAlternatives">
						<table>				
							<tr>
									<td>
										<div x-mojo-element="CheckBox" id="RouteAlternatives" name="RouteAlternatives" class="CheckBoxDirect"></div>
									</td>
									<td>
										<div id="RouteAlternativesText" class="CheckBoxLabel">Provide route alternatives</div>
									</td>
							</tr>
						</table>
					</div>
					
					<div id="TransitOptions" style="display: none;">
					
						<div x-mojo-element="RadioButton" id="TimePickerRadio" name="TimePickerRadio"></div>
		
										<div class="label left mv-picker-label" id="TransitDateLabel"></div>

										<div id="TransitDateField" name="TransitDateField" class="capsules-container mv-picker-container mv-picker-capsule"></div>

						
						<div id="KalendaeDrawer"  x-mojo-element="Drawer">
								<div class="auto-kal" id="Kalendae"></div>
						</div>
						<div x-mojo-element="TimePicker" id="TransitTime" name="TransitTime"></div>
					
					</div>

					<div id="DriveOptions" style="display: none;">
						<table>
							<tr>
									<td>
										<div x-mojo-element="CheckBox" id="AvoidHighways" name="AvoidHighways" class="CheckBoxDirect"></div>
									</td>
									<td>
										<div id="AvoidHighwaysText" class="CheckBoxLabel">Avoid highways</div>
									</td>
							</tr>
							<tr>
									<td>
										<div x-mojo-element="CheckBox" id="AvoidTolls" name="AvoidTolls" class="CheckBoxDirect"></div>
									</td>
									<td>
										<div id="AvoidTollsText" class="CheckBoxLabel">Avoid tolls</div>
									</td>
							</tr>
						</table>	
						
					</div>
									
				</div>
				
				
				
				</div>
				
				
					<div class="boxtable">
						<div x-mojo-element="Button" id="GetDirectionsButton" class=""></div>
						<div x-mojo-element="Button" id="TPBackButtonD" class="BackButton" style="display: none"></div>
					</div>
					
					<div id="DirectionsPanel" style="display: none;">	
					
						<div class="search-results-container">
								<div x-mojo-element="Scroller" id="DirectionsPanelScroller" class="panel-results-wrapper" name="MainSearchScroller">
									<div id="directions-panel" class="directions-panel"></div>
								</div>
						</div>
					</div>
				
				
			</div>
		
	</div>
	
<div id="compass" style="display: none">
	<div id="compass_rotate" style="">
		<div id="needle" style="display: none"></div>
	</div>
</div>


<div class="pulse" id="pulse" style="display: none"></div>

<div id="devlabel" style="display: none">!! DEVELOPMENT SNAPSHOT !!</div>


<div id="trick_container">
	<div id="map_canvas" class="maps" allowtouchdefault="1"></div>
	<div id="map_scrim" class="maps" style="display: none"></div>
	<div id="map_trick_canvas" class="maps"></div>
</div>

<div class="status-panel" id="status-panel">
	<div x-mojo-element="Spinner" id="StatusPanelSpinner" style="float: left;"></div>
	<div id="status-panel-text" style="float: left;"></div>
</div>

	
<div class="palm-scrim" id="busy-overlay-scrim">
	<div x-mojo-element="Spinner" id="LoadingSpinner" class="spinnerClass" />
</div>














