html, body {
	width:100%;
 	height:100%;
}

/* Some google maps visual refresh overrides  */
.gm-style div, .gm-style span, .gm-style label, .gm-style a {
    font-size: 14px;
    font-weight: 400;
}

/* Disable shadow of infowindow - issues on Touchpad */
#map_canvas img[src*="iws3.png"] {
    display: none;
}

/* My Location marker */
#map_canvas img[src*="blue_dot_on.png"]{
		//display:none;
		//-webkit-transform: scale(1, 1) !important;
}

#map_canvas {
	position: absolute;
	width:100%;
 	height:100%;
 	//width:320px;
 	//height:440px;
 	//-webkit-transform-origin-x: 0px !important;
 	//-webkit-transform-origin-y: 0px !important;
 	//-webkit-transform-origin: top left !important;
 	//-webkit-transform: scale(0.75, 0.75) !important;
 	//-webkit-device-pixel-ratio: 2 !important;
 	-webkit-transform: translateZ(0px);
 	//-webkit-transition: all 2s ease-in-out !important;
 	//-webkit-transform-style: preserve-3d;
 	// -webkit-user-drag: element;
 	//-webkit-transform: rotate(-30deg) skewX(30deg) skewY(0deg) scaleY(0.87);
 	cursor: none;
 	font-size: 14px; //InfoWindow font size
 	//-webkit-user-select: none;
 	z-Index:10000;
 	//overflow: visible !important;
 	//background: none;
 	//background-color: white;
 	//border-width: 2px;
 	// -webkit-transform: matrix(1, -0.2, -0.2, 1, 0, 0);
 	-webkit-backface-visibility: hidden;
	//-webkit-perspective: 1000;
}

#map_trick_canvas {
	position: absolute;
	width:100%;
 	height:100%;
 	-webkit-user-select: none;
 	//z-Index: 10001;
 	z-Index: 9999;
 	//display: none;
 	//background: none;
}

#map_scrim {
	position: absolute;
	width:100%;
 	height:100%;
 	-webkit-user-select: none;
 	//z-Index: 10001;
 	z-Index: 10002;
 	//display: none;
 	//background: black;
 	background-color: rgb(229, 227, 223);
 	//-webkit-transform: translateZ(0); 
}

#trick_container {
	position: absolute;
	width:100%;
 	height:100%;
 	-webkit-user-select: none;
 	z-Index: 9998;
}

#street_canvas {
	position: absolute;
	z-Index: 10000;
	width: 100%;
 	height: 100%;
 	left:0;
 	top: 0;
 	background: black;
}


#MarkersList {
	border-width: 0px 1px 0px 1px;
	-webkit-border-image: url(../images/list-gradient.png) 0 1 0 1 stretch stretch;
	-webkit-box-sizing: border-box;
	padding: -20px 0px -20px 0px;
}

#devlabel {
	color: red;
	position: absolute;
	opacity: 0.3;
	width: 100%;
	text-align: center;
	bottom: 2px;
	z-Index: 10002;
}

.photo {
	border-width: 7px 10px 12px 6px;
	-webkit-border-image: url(../images/photo-bg.png) 7 10 12 6 stretch stretch;
	-webkit-box-sizing: border-box;
	padding: 0px 0px 0px 0px;
}

.photo-img {
	max-width: 100%;
}

#photo-magnify {
	margin-top: -35px;
	padding-left: 85%;
}

.photos-body {
	background-color: black;
}

#photos-header-text-left {
	float: left;
	text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: center;
}

#photos-header-text-left.img {
	margin-top: 10px;
}

#photos-header-text-right {
	float: right;
}

.gmnoprint {
	//overflow: visible !important;
	z-Index: 1000500 !important;
	position: absolute !important;
	//font-size: 16px !important;
}

.palm-account-icon {
  width: 32px;
  height: 32px;
}

.place-icon {
	width: 48px;
	height: 48px;
}
.place-title {
	float: left;
}

.rating_bar {
  width: 80px;
  background: url('../images/star-grey.png') 0 0 repeat-x;
}

#rating {
	//float: left;
}

.rating-container {
	padding-left: 15px;
	margin-top: -15px;
	//float: left;
}

.rating_bar div {
  height: 18px;
  background: url('../images/star-orange.png') 0 0 repeat-x;
}

.about-icon { background: url('../icon-32x32.png') center center no-repeat !important; }

.palm-button.phoneCall {
	width: 100%;
	height: 52px;
}

.palm-account-icon.phonecall
{
	background: url(../images/call.png) center center no-repeat;
	margin-right: -52px;
}

.hint {

		margin: -20px 0 5px 0;
		position: absolute; 
		z-index: 100000; 
		width: 90%; 
		left: 5%;
		bottom: 5px;
		border-width: 22px 18px 22px 18px;
		-webkit-border-image: url(../images/map-bubble-background.png) 22 18 22 18 stretch stretch;
		-webkit-box-sizing: border-box;
		overflow: hidden;
		text-shadow: 0 -1px 0 #000; color: #D0D0D0; font-family: Helvetica Neue, Helvetica, arial; font-size: 12px; text-align: left;
}

.status-panel {

		margin: -20px 0 5px 0;
		position: absolute; 
		z-index: 10010; 
		width: 84%; 
		right: auto;
		left: 25px;
		top: 65px;
		border-width: 5px 5px 5px 5px;
		-webkit-border-image: url(../images/map-bubble-background.png) 22 18 22 18 stretch stretch;
		-webkit-box-sizing: border-box;
		//-webkit-transition: all 1s ease-in-out;
		overflow: hidden;
		text-shadow: 0 -1px 0 #000; color: #D0D0D0; font-family: Helvetica Neue, Helvetica, arial; font-size: 12px; text-align: left;
		-webkit-transition-property: opacity;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-timing-function: ease-out;
		opacity: 0;
}

#status-panel.active {
		opacity: 1;
}

#StatusPanelSpinner {
	-webkit-transform: scale(0.5, 0.5);
	margin: -9px -5px -10px -5px;
	padding: 0;
}

.small-hint {
	font-size: 12px;
	color: #1f75bf;
	text-shadow: #ffffff 0px 1px 0px;
}

/** All around autocompleter styling **/
.pac-container {

		margin: -10px 0px 0px 0px !important;
		padding: 0px 80px 0px 0px !important;
		//border-width: 10px 118px 30px 22px;
		border-width: 24px 24px 24px 24px;
		//-webkit-border-image: url(../images/search-background-google.png) 10 118 30 22 stretch stretch;
		-webkit-border-image: url(../images/search-results-background.png) 24 24 24 24 stretch stretch;
		-webkit-box-sizing: border-box  !important;
		position: absolute; 
		z-index: 100000 !important; 
		width: 90%  !important; 
		left: 17px !important;
		top: 0px;
		background: none;
		overflow: visible;		
}

.pac-container .pac-item {

	font: 16px 'Prelude', sans-serif !important;
	font-size: 16px !important;
	padding: 8px 0px 8px 0px;
	margin: 0px -86px 0px 0px;
	line-height: 1.5em !important;
	color: #555;
	overflow: hidden;
}

.pac-icon {
	display: none;
	background-image: none;
}

.pac-icon-marker {
	display: none;
	background-image: none;
}

.pac-container .pac-item .pac-matched{
	font-size: 16px;
}

.pac-item-query {
	font-size: 16px;
}

.palm-menu.command-menu.bottom-menu {
		
		height: 75px; //vyska commandmenu bottom

}

.textfield input {
   		height: 38px;
		outline: none;
		background: none;
		border-width: 0 0 0 0;
		font-size: 16px;
		line-height: 22px;
		color: black;
		margin: 0 0px 0px 0px;
		text-align: left;
		//overflow: hidden !important;
}

.search-button {
		//position: absolute;
		top: 0px;
		text-align: left;
		height: 48px;
		background: none;
		//-webkit-border-image: url(../images/palm-menu-button.png) 100 25 100 25 stretch stretch;
		//-webkit-border-image: url(../images/searchbar.png) 0 76 0 39 stretch stretch;
		-webkit-border-image: url(../images/search-main-bar.png) 0 104 0 34 stretch stretch;
		//-webkit-border-image: url(../images/searchbar.png) 100 25 100 25 stretch stretch;
		-webkit-user-select: none;
		border-width: 0 104px 0 34px;
		//border-width: 0 25px 0 25px;
		font-size: 16px;
		font-weight: bold;
		line-height: 48px;
		//color: white;
		//color: black;
		width: 100%;
		-webkit-box-sizing: border-box;
		-webkit-box-flex: 1;
}

#MainSearch {
	overflow: hidden;
}

.BackButton {
		width: 100px;
}

#GetDirectionsButton {
		-webkit-box-flex: 1;
}

.CheckBoxLabel {
	text-align: left;
	font-size: 16px;
}

.CheckBoxDirect {
	margin-left: 10px;
}

.boxtable {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
 
}

.origin-bar {
		//position: absolute;
		top: 60px;
		width: 84%;
		margin-top: 2px;
		margin-left: 4px;
		margin-right: 4px;
		text-align: left;
		height: 38px;
		background: none;
		//-webkit-border-image: url(../images/palm-menu-button.png) 100 25 100 25 stretch stretch;
		-webkit-border-image: url(../images/direction_selector.png) 0 56 0 15 stretch stretch;
		-webkit-user-select: none;
		//border-width: 0 0px 0 25px;
		border-width: 0 0px 0 15px;
		font-size: 16px;
		font-weight: bold;
		line-height: 38px;
		//line-height: 38px;
		color: white;
		width: 100%;
		-webkit-box-sizing: border-box;
		z-Index:1000000;
}

.origin-button {
		height: 38px;
		margin-right: 4px;
		margin-left: 4px;
		margin-top: 2px;
		-webkit-border-image: url(../images/direction_selector.png) 0 56 0 15 stretch stretch;
		//-webkit-border-image: url(../images/palm-menu-button-button.png) 100 49 100 1 stretch stretch;
		-webkit-user-select: none;
		//border-width: 0 49px 0 1px;
		border-width: 0 56px 0 1px;
		-webkit-box-sizing: border-box;
}

.destination-bar {
		//position: absolute;
		top: 110px;
		width: 84%;
		margin-left: 4px;
		margin-top: 2px;
		//margin-bottom: -4px;
		text-align: left;
		height: 38px;
		background: none;
		-webkit-border-image: url(../images/direction_selector.png) 0 56 0 15 stretch stretch;
		//-webkit-border-image: url(../images/palm-menu-button.png) 100 25 100 25 stretch stretch;
		-webkit-user-select: none;
		//border-width: 0 0px 0 25px;
		border-width: 0 0px 0 15px;
		font-size: 16px;
		font-weight: bold;
		line-height: 38px;
		color: white;
		width: 100%;
		-webkit-box-sizing: border-box;
		//z-Index: 100001;
}

#DestinationText {
	margin-top: 8px; //adjust the free space for swap icon
}

.directions-container .palm-divider {
	width: 100%;
}

select {
		color: black;
}

.search-button.focused,
.search-button.hasfocus {
		//-webkit-border-image: url(../images/palm-menu-button.png) 100 25 100 25 stretch stretch;
		//-webkit-border-image: url(../images/searchbar.png) 0 137 0 38 stretch stretch;
		//border-width: 0 25px 0 25px;
		//border-width: 0 144px 0 44px;
}

.search-button.focused:active {
		//-webkit-border-image: url(../images/palm-menu-button.png) 100 25 100 25 stretch stretch;
		//-webkit-border-image: url(../images/searchbar.png) 0 137 0 38 stretch stretch;
		//border-width: 0 25px 0 25px;
		//border-width: 0 144px 0 44px;
}

.search-button:active {
		//-webkit-border-image: url(../images/palm-menu-button.png) 100 25 100 25 stretch stretch;
		//-webkit-border-image: url(../images/searchbar.png) 0 137 0 38 stretch stretch;
		//border-width: 0 25px 0 25px;
		//border-width: 0 144px 0 44px;
}

.search-button .hint-text {
	overflow: hidden;   
	white-space: nowrap; 
	text-overflow: ellipsis;
	max-width: 250px;   
}

.place-search .search-results-container {

		margin: -20px 0px 0px 0px;
		padding: 0;
		border-width: 24px 24px 24px 24px;
		-webkit-border-image: url(../images/search-results-background.png) 24 24 24 24 stretch stretch;
		-webkit-box-sizing: border-box;
		
}

.origin-search .search-results-container {
		position: absolute;
		top: 75px;
		width: 85%;
		margin: 0px 0px 0px 0px;
		padding: 0;
		border-width: 24px 24px 24px 24px;
		-webkit-border-image: url(../images/search-results-background.png) 24 24 24 24 stretch stretch;
		-webkit-box-sizing: border-box;
		z-Index:1000;
		
}

.destination-search .search-results-container {
		position: absolute;
		top: 143px;
		width: 85%;
		margin: 0px 0px 0px 0px;
		padding: 0;
		border-width: 24px 24px 24px 24px;
		-webkit-border-image: url(../images/search-results-background.png) 24 24 24 24 stretch stretch;
		-webkit-box-sizing: border-box;
}

.directions-container {
		margin: -14px -24px -24px -24px;
		padding: 0;
		border-width: 24px 24px 24px 24px;
		-webkit-border-image: url(../images/directions-panel-background.png) 24 24 24 24 stretch stretch;
		-webkit-box-sizing: border-box;		
}

.panel-results-wrapper {
	margin: 25px 5px 0px 5px;
}

.panel-results-wrapper .directions-panel {
	font-size: 14px;
}

.place-search .search-results-container .search-results-wrapper {
	margin: 0px -10px 0px -10px;
}

.palm-list {
}
.origin-search .search-results-container .search-results-wrapper {
	margin: 0px -10px 0px -10px;
}
.destination-search .search-results-container .search-results-wrapper {
	margin: 0px -10px 0px -10px;
}

.search-results-fade-bottom {
		width: 100%;
		height: 12px;
		position: absolute;
		bottom: 0;
		background: red;
}

.search-results-container .text-container {
 // padding-right: 30px;
}

.search-results-container .title {
	padding: 0;
	margin: 0;
	line-height: 1em;
	color: #555;
}

.search-results-container .subtitle {
	color: #777;
	font-size: 14px;
	margin-top: -14px;
	padding: 0 0 14px 15px;
}

.smalltitle {
	color: #777;
	font-size: 14px;
	margin-top: 0px;
	margin-left: 10px;
	//padding: 0 0 14px 15px;
	text-align: left;
}

.infowindow {
   // background-color: #000;
   // color: #FFF;
    font-size: 12px;
    //font-family: Helvetica Neue, Helvetica, Arial;
   // text-shadow: 0 -1px 0 #000;
   // font-weight: bold;
    position: relative;
    overflow: hidden;
}

/* RADIOBUTTONS */

#DirectRadioImages {
	width: 160px;
	height: 40px;
	margin-top: -55px;
	margin-bottom: 10px;
	margin-left: 5px;
	background: url(../images/drive-images.png) center center no-repeat;
	overflow: visible;
}



#DirectType div {
  //-webkit-border-image: url(../images/radiobutton-middle.png) 0 15 100 15;
  width: 40px;
  opacity: 0.8;
}

#DirectType div.first {
  //-webkit-border-image: url(../images/radiobutton-first.png) 0 15 100 15;
}

#DirectType div.last {
  //-webkit-border-image: url(../images/radiobutton-last.png) 0 15 100 15;
}

#DirectType div.selected {
  //-webkit-border-image: url(../images/radiobutton-middle.png) 50 15 50 15;
}

#DirectType div.first.selected {
  //-webkit-border-image: url(../images/radiobutton-first.png) 50 15 50 15;
}

#DirectType div.last.selected {
  //-webkit-border-image: url(../images/radiobutton-last.png) 50 15 50 15;
}

/* END OF RADIOBUTTONS */


.url-title-button {
		position: absolute;
		top: 0px;
		text-align: left;
		height: 50px;
		background: none;
		-webkit-border-image: url(../images/url-field-focus-button-left.png) 0 0 0 23 stretch stretch;
		-webkit-user-select: none;
		border-width: 0 0px 0 23px;
		font-size: 16px;
		font-weight: bold;
		line-height: 50px;
		color: white;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
}

select {
		color: black;
}

.url-title-button.focused,
.url-title-button.hasfocus {
		-webkit-border-image: url(../images/url-field-focus-button-left.png) 0 0 0 25 stretch stretch;
		border-width: 0 0 0 25px;
}

.url-title-button.focused:active {
		-webkit-border-image: url(../images/url-field-focus-button-left.png) 0 0 0 25 stretch stretch;
		border-width: 0 0 0 25px;
}

.url-title-button:active {
		-webkit-border-image: url(../images/url-field-focus-button-left.png) 0 0 0 23 stretch stretch;
		border-width: 0 0 0 23px;
}

.url-title-button .hint-text {
	overflow: hidden;   
	white-space: nowrap; 
	text-overflow: ellipsis;
	max-width: 250px;   
}

.urlbar-go-button {
		width: 32px;
		height: 32px;
}

.urlbar-go-button.enabled {
		background-image: url(../images/url-go-icon-enabled.png);
}

.urlbar-go-button.disabled {
		background-image: url(../images/url-go-icon-disabled.png);
}

#urlbar-go.urlbar-menu-go-button {
		background: #0000FF;
		position: absolute;
		top: 0px;
		height: 50px;
		max-width: 49px;
		background: none;
		-webkit-border-image: url(../images/url-field-focus-button-right.png) 0 25 0 1 stretch stretch;
		-webkit-user-select: none;
		border-width: 0 25px 0 24px;
		font-size: 14px;
		font-weight: bold;
		line-height: 0px;
		color: white;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
}

#urlbar-go.urlbar-menu-go-button.active {
		-webkit-border-image: url(../images/url-field-focus-button-right.png) 0 25 0 1 stretch stretch;
}

#secure-lock {
	float: right;
	margin-right: -4px;
	margin-left: 4px;
	height: 50px;
	width: 24px;
	background: url(../images/secure-lock.png) center center no-repeat;
}

.textfield-group > .title > .label {	
  float: right;
  color: #1f75bf;
  text-shadow: #ffffff 0px 1px 0px;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 5px 0 5px;
}

.palm-menu-text.focused,
.palm-menu-text.hasfocus {
		-webkit-border-image: url(../images/url-field-focus-button.png) 0 25 0 25 stretch stretch;
}

.palm-menu-text.page-title {
		max-width: 280px;
		margin-right: 48px;
		padding: 0;
}

#urlInput input {
		height: 50px;
		background: none;
		border-width: 0 0 0 0;
		font-size: 16px;
		line-height: 16px;
		color: white;
		margin: 0 16px 0 -16px;
		padding: 0;
}

form#addrForm {
		position: absolute;
		top: 6px;
		left: 40px;
		margin: 0;
		padding: 0;
		border: 0;
}

span#urlInput_hintText {
		font-size: 16px;
		line-height: 16px;
}

div#pageTitle {
		width: 255px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		text-align: left;
}

div#urlbar-title {
		overflow: visible;
		text-overflow: ellipsis;
		white-space: nowrap;
		text-align: left;
}

/* INFOBUBLE */

.infobubble {
	//position: absolute;
	//z-Index: 10002;
	//opacity: 0.9;
}

.phoney {
}
.phoney-clicked {

}
.phoneytext {
	text-shadow: 0 -1px 0 #000;
	color: #fff;
	//font-family: Helvetica Neue, Helvetica, arial;
	font-size: 18px !important;
	padding: 4px 45px 4px 15px; 
	font-weight: bold;
	background: url(../images/map-bubble-arrow-blue.png) 95% 50% no-repeat;
}
.phoneytextwithoutbutton {
	text-shadow: 0 -1px 0 #000; color: #fff; font-family: Helvetica Neue, Helvetica, arial; font-size: 18px; padding: 4px 15px 4px 15px; font-weight: bold;
}
.phoneytext2 {
	text-shadow: 0 -1px 0 #000; color: #fff; font-family: Helvetica Neue, Helvetica, arial; font-size: 12px; font-weight: bold;
}
.phoneytab {
	text-shadow: 0 -1px 0 #000; color: #fff; font-family: Helvetica Neue, Helvetica, arial;	font-size: 18px;
	background: rgb(112,112,112);
}

/* MARKERS LIST */

.markerslistname {
	text-shadow: 0 -1px 0 #000; color: black; font-size: 20px; padding: 5px 5px 5px 5px; font-weight: bold;
}

.markerslistaddress {
	text-shadow: 0 -1px 0 #000; color: black; font-size: 16px;  padding: 5px 5px 5px 5px;
}

.markerslistdistance {
	text-shadow: 0 -1px 0 #000; color: black; font-size: 14px; padding: 5px 5px 5px 5px;
}

/* USER REVIEWS LIST */

.userslistname {
	font-size: 16px; text-shadow: 0 -1px 0 #000; padding: 5px 5px 5px 5px; font-weight: bold;
}

.userslisttext {
	font-size: 14px; padding: 5px 5px 5px 5px;
}


.header-cal-source {
	position:relative;
	float:right;
	margin: 8px -16px 0px 0px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	height:35px;
	line-height: 33px;
	border-width: 0px 22px 0px 16px;
	-webkit-border-image: url(../images/selector-header-gray.png) 0 22 0 16 stretch stretch;
	-webkit-box-sizing: border-box;	
}
.header-cal-source-hit-target { 
	/* note to self, this is a convenient way to create hit targets, because it doesn't disrupt any flow! */
	position:absolute;
	top:-10px;
	left:-35px;
	right:-25px;
	height:52px;
}
.header-cal-selector {
	margin-left:-5px;
	padding-right: 2px;
	background: transparent;
	display:inline-block;
	min-width: 12px;
	max-width: 80px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.header-title {
	padding-right: 5px;
}
.details-sort-selector-popup {
	top: 33px;
	right: 3%;
	left: 35%;
}
.details-sort-selector-popup .palm-popup-content {
	max-height:60%;
}

#sort-item-first {
	/* border-width: top right bottom left  Four-value syntax */
	text-shadow: 0 -1px 0 #000; color: #585858;
	border-width: 0px 0px 7px 0px;
	-webkit-border-image: url(../images/list-section-collapse-middle.png) 0 1 7 1 stretch stretch;
	-webkit-box-sizing: border-box;	
}

#PlacesScroller {
	//height: auto;
	//width: auto;
}

#NearbyListIcon {
	background: url(../images/MapMarker_Ball__Red.png) no-repeat center;
	-webkit-background-size: 30px 30px;
	width: 30px;
	height: 30px;
}

#MarkersListIcon {
	background: url(../images/Map-Marker-Push-Pin-2-Right-Red-icon.png) no-repeat center;
	-webkit-background-size: 30px 30px;
	width: 30px;
	height: 30px;
}

#MyLocationListIcon {
	background: url(../images/blue_dot.png) no-repeat center;
	//border-width: 10px 10px 10px 10px;
	//-webkit-box-sizing: border-box;	
	-webkit-background-size: 16px 16px;
	width: 30px;
	height: 30px;
}

.palm-row.slave {
		//border-width: 0px 1px 0px 1px;
		//-webkit-border-image: url(../images/list-gradient-slave.png) 0 1 0 1 stretch stretch;
		//-webkit-box-sizing: border-box;
		//padding: -20px 0px -20px 0px;
}

#LangDrawer {

		border-width: 0px 1px 0px 1px;
		-webkit-border-image: url(../images/list-gradient-slave.png) 0 1 0 1 stretch stretch;
		-webkit-box-sizing: border-box;
		padding: -20px 0px -20px 0px;

	
}

#SwapButton {
	position: absolute;
	background: url(../images/swap-icon.png) no-repeat center;
	width: 39px;
	height: 32px;
	margin: 1px 1px 1px 1px;
	top: 70px;
	left: 40%;
}

.td-left {
	float: left;
}

.td-right {
	float: right;
}

/* Compass function in the map */

#compass {
	position: absolute;
	z-Index:10001;
	top: 45px;
	height:160px;
	width:160px;
	margin-left:5px;
	margin-right:auto;	
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: linear;
	-webkit-transform-origin: 0% 0%;
	-webkit-transform: scale(0.5);
	display:-webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}

#compass.active {
	-webkit-transform: scale(1);
}

#compass_rotate {
	background:url(../images/compass.png) center center no-repeat;
	height:100%;
	width:100%;
	display:-webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-webkit-transition-property: all;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function: linear;
	//-webkit-transform-origin: 0% 0%;
}

#needle {
	height:130px;
	width:15px;
	margin-top: -1px;
	margin-left:4px; //small offset to fix
	background: url(../images/needle.png) center center no-repeat;
}

/* Pulsating GPS dot */

#pulse {
	height: 50px;
	width: 50px;
	position: absolute;
	z-Index: 10000;
	opacity: 0;
	-webkit-transition-property: opacity;
	-webkit-animation: pulsation 1s ease-in;
	-webkit-animation-iteration-count: 1;
	-webkit-border-image: url(../images/1.5/pulse.png) 0 0 0 0 stretch stretch;
	-webkit-box-sizing: border-box;
}

@-webkit-keyframes "pulsation" {
 0% {
	-webkit-transform: scale(0);
	opacity: 0.0;
 }
 25% {
	-webkit-transform: scale(1);
	opacity: 0.1;
 }
 50% {
	-webkit-transform: scale(2);
	opacity: 0.3;
 }
 75% {
	-webkit-transform: scale(3);
	opacity: 0.5;
 }
 100% {
	-webkit-transform: scale(4);
	opacity: 0.0;
 }
}

#KalendaeDrawer {

		border-width: 0px 1px 0px 1px;
		-webkit-border-image: url(../images/list-gradient-slave.png) 0 1 0 1 stretch stretch;
		-webkit-box-sizing: border-box;
		//padding: -20px 0px -20px 0px;

	
}

#TransitDateField {
	//width: 100%;
	align: left;
	
}

#OpeningHoursWeek {
	//font-size: 12px;
}

/* a hacky way to change start and destination in the directions panel result and other stuff around directions panel */

#adp-placemark img, .adp-placemark img {
   display:none;
}
#adp-placemark {
   font-weight: bold;
   padding: 5px 5px 5px 30px;
   background: #eaeaea url(../images/bubble/flagA.png) no-repeat left center;
   border-radius: 15px;
}
.adp-placemark {
   font-weight: bold;
   padding: 5px 5px 5px 30px;
   background: #eaeaea url(../images/bubble/flagB.png) no-repeat left center;
   border-radius: 15px;
}

.adp-summary {
   font-weight: bold;
   font-size: 16px;
   color: blue;
}

.bold-text {
	font-weight: bold;
}

@media only screen and (max-device-width:480px), 
only screen and (-webkit-min-device-pixel-ratio: 1.5)
{ /* Pre 3 css stuff can be here too (1.5 pixel ratio) */

}
