@media only screen and (max-device-width:480px), 
only screen and (-webkit-min-device-pixel-ratio: 1.5)
{ /* Pre 3 stuff (1.5 pixel ratio) */

	.infobubble {
		-webkit-transform: scale(1.5, 1.5) translateY(-15px);
	}
	
	.palm-menu.command-menu.bottom-menu {
			
			-webkit-transform: scale(1.5, 1.5);
			height: 75px; //vyska commandmenu bottom
			//left: 100px;
			//right: 150px;
			//width: 320px;
			//position: absolute;

	}

	.palm-menu.view-menu.top-menu {
	 -webkit-transform: scale(1.5, 1.5);
	  width: 100%;
	  margin-top: 15px;
	} 

	.palm-scrim {
		//-webkit-transform: scale(1.5, 1.5);
		//-webkit-transform: translate(0px, 0px);
		background: url(../images/scrim.png) repeat-x;
		position: fixed;
	}

	.status-panel {
		-webkit-transform: scale(1.5, 1.5);
		top: 98px;
		width: 56%;
		left: 110px;
	}

	.palm-popup-container.pre3maptype {
		margin: 100px 0 0 -50px;
		//-webkit-border-image: url(../images/palm-popup-background.png) 24 24 24 24 stretch stretch; 
		-webkit-transform: scale(1.5, 1.5);
	}

	.palm-popup-container.pre3maptypemore {
		margin: 0px 0 0 0px; 
		-webkit-transform: scale(1.5, 1.5) !important;
	}

	.palm-popup-container.pre3menu {
		margin: -90px 0 0 -50px; 
		-webkit-transform: scale(1.41, 1.44) !important;
		//background-color: black;
	}

	.palm-popup-container.pre3markerpopup {
		//margin: -90px 0 0 -50px; 
		-webkit-transform: scale(1.5, 1.5) !important;
	}


	.palm-menu-panel.pre3 {
	  -webkit-transform: scale(1.41, 1.44);
	}

	/* Compass function in the map Pre3 overrides */

	#compass_rotate {
		background:url(../images/1.5/compass.png) center center no-repeat;
	}

	#compass {
		top: 85px;	
	}

	#needle {
		width:22px;
		background:url(../images/1.5/needle.png) center center no-repeat;
	}

}

