<html><head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<body>
<div class="help">

	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<table>
				<tr><td><div class="place-icon" id="place-icon"></div></td>                        
				<td><div class="place-title" id="name" x-mojo-element="TextField">
					</div>
					<br>
				<div id="SmallHint">Tap and hold to rename</div></td></tr>
			</table> 
		</div>
	</div>


	<div class="palm-group">
		<div class="palm-group-title" id="DeatilsText">
			Details
		</div>
		<div class="palm-body-text" id="formatted_address">
		</div>		
		<div class="palm-body-text" id="loc">
		</div>	
		<div class='palm-button phoneCall' name="CallButton" id="CallButton" style="display: none;" x-mojo-tap-highlight="momentary">
			<div class="palm-button-wrapper">
				<div class="palm-account-icon icon button phonecall"></div>
				<div class="add-account-button-label" id="CallButtonLabel"></div>
			</div> 
		</div>		
		<div class="palm-body-text" id="rating">
		</div>
		<div class="rating-container" id="rating-container" style="display: none;">	
			<div class="rating_bar">
				<div id="ratingstar"></div>
			</div>
		</div><br>
		<div class="palm-body-text" id="opening_hours" style="display: none;">
			<div id="OpenhoursText">Open hours:</div>
			<table>
				<tr><td><div id="OpenHoursIcon"><img src="images/hours_open.png"></div></td>                        
				<td><div id="TodayOpenText">Today 10:00-20:00</div>
					</td></tr>
			</table> 	
		</div>
		<div class="palm-body-text" id="url">
		</div>
		<div class="palm-body-text" id="website">
		</div>   
	</div>

</div>



</body>
</html>
