<html><head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<body>
<div class="help">

	<div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
			<table>
				<tr><td><div class="place-icon" id="place-icon"></div></td>                        
				<td><div class="place-title" id="name" x-mojo-element="TextField">
					</div>
					<br>
				<div id="SmallHint" class="small-hint">Tap and hold to rename</div></td></tr>
			</table> 
		</div>
	</div>


	<div class="palm-group">
		<div class="palm-group-title" id="DeatilsText">
			Details
		</div>
		<div class="palm-body-text" id="formatted_address">
		</div>		
		<div class="palm-body-text" id="loc">
		</div>	
		<div class='palm-button phoneCall' name="CallButton" id="CallButton" style="display: none;" x-mojo-tap-highlight="momentary">
			<div class="palm-button-wrapper">
				<div class="palm-account-icon icon button phonecall"></div>
				<div class="add-account-button-label" id="CallButtonLabel"></div>
			</div> 
		</div>		
		<div class="palm-body-text" id="rating">
		</div>
		<div class="rating-container" id="rating-container" style="display: none;">	
			<div class="rating_bar">
				<div id="ratingstar"></div>
			</div>
		</div><br>
		<div class="palm-body-text" id="opening_hours" style="display: none;">
			<div id="OpenhoursText">Open hours:</div>
			<table>
				<tr><td><div id="nameday0"></div></td><td><div id="hoursday0"></td></tr>
				<tr><td><div id="nameday1"></div></td><td><div id="hoursday1"></td></tr>
				<tr><td><div id="nameday2"></div></td><td><div id="hoursday2"></td></tr>
				<tr><td><div id="nameday3"></div></td><td><div id="hoursday3"></td></tr>
				<tr><td><div id="nameday4"></div></td><td><div id="hoursday4"></td></tr>
				<tr><td><div id="nameday5"></div></td><td><div id="hoursday5"></td></tr>
				<tr><td><div id="nameday6"></div></td><td><div id="hoursday6"></td></tr>
			</table> 	
		</div>
		<div class="palm-body-text" id="url">
		</div>
		<div class="palm-body-text" id="website">
		</div>   
	</div>
	
<div id="PhotosContainer" style="display: none">
	
		<table class="palm-divider collapsible" id="Photos" x-mojo-touch-feedback="delayed">
			<tr>
				<td class="left">
				
				</td>
				<td class="label" id="LabelPhotosText">
					Photos
				</td>
				<td class="line" width="100%">
				</td>
				<td>
					<div id="PhotosButArrow" class="palm-arrow-closed arrow_button">
					</div>
				</td>
				<td class="right">
				</td>
			</tr>
		</table>

	<div id="PhotosDrawer"  x-mojo-element="Drawer">
		<div class="palm-group">
			<div class="palm-group-title" id="PhotosText">
					Photos
			</div>
				<div>
					<div id="photo" class="photo"></div>
				</div>
			<div id="photo-magnify"><img src="images/change_photo.png"></img></div>
		</div>
	</div>
</div>


	
	
<div id="UserReviewContainer" style="display: none">
	
		<table class="palm-divider collapsible" id="UserReview" x-mojo-touch-feedback="delayed">
			<tr>
				<td class="left">
				
				</td>
				<td class="label" id="LabelReviewsText">
					More details
				</td>
				<td class="line" width="100%">
				</td>
				<td>
					<div id="UserReviewButArrow" class="palm-arrow-expanded arrow_button">
					</div>
				</td>
				<td class="right">
				</td>
			</tr>
		</table>

	<div id="UserReviewDrawer"  x-mojo-element="Drawer">
				<div class="palm-group">
	<div class="palm-group-title" id="UserReviewsText">
			User reviews
	</div>
				<div class="palm-list" >
					<div x-mojo-element="List" id="UserReviewList"></div>
				</div>
		</div>
	</div>
</div>
</p>
</div>



</body>
</html>
