<div class='palm-row' id="MarkersList" x-mojo-tap-highlight="momentary">	
	<table style="width: 100%;">
		<tr>
			<td class="td-left">
				<div class="userslistname">#{-author_name}<span style="color: #696969; font-weight: normal; font-size: 14px;">#{-agoElement}</span></div>
				<div class="userslisttext">#{-ratingText}<span style="color: #DC143C;">#{-rating}</span><span style="color: #696969;">/3</span></div>
			</td>
			<td class="td-right">
				<div style="float: left; padding: 3px 3px 3px 3px;"></div>
				#{-author_url}
			</td>
		</tr>
	</table>
	
	<div class="userslisttext">#{-text}</div>
</div>
