<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"></head>

<body>
	
<div class="help">

<div class="palm-page-header multi-line">
	<div class="palm-page-header-wrapper">
	    <div class="icon about-icon"></div>                         
		<div class="title" id="AppTitleText">
			</div>
		<div class="subtitle" id="AppVersionText">
		 </div>     
	</div>
</div>


<div class="palm-group">
    <div class="palm-group-title" x-mojo-loc='' id="DescriptionText">
        Description
    </div>
    <div class="palm-body-text" id="AppDescription">
	    This application is trying to be a replacement of unsupported Google Maps application for WebOS devices.
	    The application is based on the Google Maps API V3.
		Do you like this application? If do, you can support me in development. Thank you!
		</div>
   
</div>
<center>
<form action="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=5CTRZJLKKUBS4&lc=CZ&item_name=Jan%20Herman&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted" target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=5CTRZJLKKUBS4&lc=CZ&item_name=Jan%20Herman&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted" method="post">
				<input type="image" src="images/x-click-butcc-donate.gif" style="text-align: center" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
</form>
</center>

<div class="palm-group">
    <div class="palm-group-title" x-mojo-loc='' id="ContributorsText">
        Contributors
    </div>
    <div class="palm-body-text">
	    bigdoby (Italian translation)<br>
	    Herrie (Dutch translation)<br>
	    chris42 (German translation)<br>
	    briest (Polish translation)<br>
	    highrock2, tonyw (Chinese translation)<br>
	    jcmarcos (Spanish translation)<br>
	    HaPe (Route with Navit feature)<br>
	    Kratus (French translation)<br>
	    Bengt Erlandsson (Swedish translation)<br>
		</div>
   
</div>

<div class="palm-group">
    <div class="palm-group-title" x-mojo-loc='' id="ChangelogText">
        Changelog
    </div>
    <div class="palm-body-text">
		
		0.3.5 <br>
		<li>Reworked the suggestions list of the main search field to cover full description</li>
		<li>Fixed the user avatars in review, also changed the rating from 0-3 to 0-5 like on the google web page</li>
		<li>Force to use stable API v 3.17 (temporary fix of unusable app issue)</li>
		
		0.3.4 <br>
		<li>Transit layer is available as overlay over all the map types (yes, OSM map also!)</li>
		<li>The main search changed, you can type there everything and press Enter or select some suggestion for search more places. It respects current map bounds.</li>
		<li>Fixed the wrong month in the transit options.</li>
		<li>Compatibility with news google maps api</li>
		<li>Updated the calendar module Kalendae (date picker).</li>
		<li>Possibility to submit a search field by forward swipe on a gesture area, but it may give different result than Enter key. Enter key is still preffered.</li>
		<li>Fullscreen doesn't need an app restart anymore, just switch it while the app is running from the menu</li>
		<li>Improved the infobubbles font style</li>
		
		0.3.3 <br>
		<li>Added Swedish translation</li>
		<li>Marker clusterer for nearby places - improves performance and ergonomics</li>
		<li>Some code optimization</li>
		<li>Fixed the missing powered by Google logo in search box and new icons at each row also regarding to the new API</li>
		<li>More quiet logging</li>
		0.3.2<br>
		<li>Fixed the "Route with Navit function" to the <a href="http://forums.webosnation.com/navit/320542-navit-0-5-0-5287-1-new-stable-release-4.html#post3416362">my recent Navit build 5760</a> (compatible with stable r5287 also)</li>
	  
	  <a href="http://www.volny.cz/hp2/webos/maps/changelog.html">Full changelog</a><br>
		</div>
   
</div>

</div>
</body></html>
