<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"></head>

<body>
	
<div class="help">

<div class="palm-page-header multi-line">
	<div class="palm-page-header-wrapper">
	    <div class="icon about-icon"></div>                         
		<div class="title" id="AppTitleText">
			</div>
		<div class="subtitle" id="AppVersionText">
		 </div>     
	</div>
</div>


<div class="palm-group">
    <div class="palm-group-title" x-mojo-loc='' id="DescriptionText">
        Description
    </div>
    <div class="palm-body-text" id="AppDescription">
	    This application is trying to be a replacement of unsupported Google Maps application for WebOS devices.
	    The application is based on the Google Maps API V3.
		Do you like this application? If do, you can support me in development. Thank you!
		</div>
   
</div>
<center>
<form action="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=5CTRZJLKKUBS4&lc=CZ&item_name=Jan%20Herman&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted" target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=5CTRZJLKKUBS4&lc=CZ&item_name=Jan%20Herman&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted" method="post">
				<input type="image" src="images/x-click-butcc-donate.gif" style="text-align: center" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
</form>
</center>

<div class="palm-group">
    <div class="palm-group-title" x-mojo-loc='' id="ContributorsText">
        Contributors
    </div>
    <div class="palm-body-text">
	    bigdoby (Italian translation)<br>
	    Herrie (Dutch translation)<br>
	    chris42 (German translation)<br>
	    briest (Polish translation)<br>
	    highrock2, tonyw (Chinese translation)<br>
	    jcmarcos (Spanish translation)<br>
	    HaPe (Route with Navit feature)<br>
	    Kratus (French translation)<br>
		</div>
   
</div>

<div class="palm-group">
    <div class="palm-group-title" x-mojo-loc='' id="ChangelogText">
        Changelog
    </div>
    <div class="palm-body-text">
	
	  0.2.6<br>
	  <li>New info dialog about unsuccesfull nearby places search</li>
	  <li>New ability to delete markers from markers list using swipe-left</li>
	  <li>Streetview for marker location fixed</li>
	  <li>New StreetView functionality, displays coverage outdoor and indoor StreetView, location is selected by user tap</li>
	  <li>Fixed bug: deleted nearby place marker on map still persist in markers list</li>
	  <li>Disabled the native infowindow shadow (using a hack) - usefull for touchpad users where the shadow is deformed</li>
	  <br><br>
		
		
	  0.2.5<br>
	  <li>New option for units (imperial/metric, temperature degrees)</li>
	  <li>Open hours of a place for the whole week, red row means "now closed", green "now open"</li>
	  <li>Open hours are exported to the Contact note, clipboard and e-mail</li>
	  <li>Phone number is exported to messages, e-mail and clipboard too</li>
	  <li>Fixed the sometimes "undefined" in search bar when you launched the app from Just type</li>
	  <li>Smaller blue arrow on all devices expect Pre3</li>
	  <br><br>
	  
	  0.2.4<br>
	  <li>Automatic focus to destination field in directions</li>
	  <li>Double-tap to zoom support for webOS 2.2.x devices</li>
	  <li>Fixed blue arrow rotation</li>
	  <li>Traffic layer switch is moved back to the map types menu, because is used very often</li>
	  <li>Updated translations (thanks to all translators)</li>
	  <li>Added Taiwan and Hong Kong Chinese translations (by tonyw)</li>
	  <li>Updated icons to the actual Google icons</li>
	  <li>Fixed language name in Preferences after laguage swithing to the correct language</li>
	  <br><br>
	  
	  0.2.3<br>
	  <li>New Directions option: Transit (only in Google supported countries). You can select the date and time (not in past) or arrival or departure</li>
	  <li>New icon style radio button for directions options</li>
	  <li>New option for route alternatives, remember that the route alternatives eats more data. You can switch between routes in directions panel</li>
	  <li>Route summary is displayed in top bar - length and duration</li>
	  <li>New option Avoid highways</li>
	  <li>New option Avoid tolls</li>
	  <li>More information about route calculation response, if the route calc failed, you can see the type of error in dialog, not only "failed"</li>
	  <li>The POI's are visible in the map again</li>
	  <li>Fixed the height of directions panel on Pre3</li>
	  <li>Main-assistant is compiled using closure compiler for better performance. Original main-assistant is still included</li>
	  <li>Thicker route line</li>
	  <br><br>
	
	  0.2.2<br>
	  <li>Fixed map rotation back to 0deg when switch off the follow location</li>
	  <li>Sometimes top and bottom bars was gone, when this occurs, just activate search using keypress and menu will be back</li>
	  <li>New compass support:</li>
	  <li>if your device has compass (Pre3), you can see the rose in the top left corner</li>
	  <li>Known issue - the Pre3 compass is weird, needs to be absolutely horizontal and after some time shows wrong heading or stops - in my case</li>
	  <li>Tap the rose, rose will be scaled-up and the location dot switches to the arrow directed to the same direction as device (if you are not moving). Tap rose again to minimize it and switch the arrow back to the blue dot</li>
	  <li>For all devices, the arrow is shown for velocity higher than 2km/h in your moving direction</li>
	  <li>New pulsating ring, indicates the GPS refresh (when system sends the new gps fix), you can see the pulse only when the follow function is not active.</li>
	  <li>Some design facelift, blue color in fields gone, unification UI to black and grey tones, new blue dot</li>
	  <li>Updated translations from contributors</li>
	  <br><br>
	  
	  0.2.1<br>
	  <li>This update is focused to the Pre3 and their stability and performance issues</li>
	  <li>Map scale for Pre3 is 1, other UI elements 1,5 - no more issues with wrong centering, negatives: small street names, artefacts on manually scaled-up elements, menus, etc...</li>
	  <li>Rewritten the GPS location core, especially when tracking, for lower CPU usage</li>
	  <li>The app in background stops the GPS tracking - lower cpu usage when in background, something like "idle" mode</li>
	  <li>Some code cleaned, no more Ares dependency</li>
	  <li>Small improvement of code for map paning - better performance</li>
	  <li>More caching of API, decreasing app starting time</li>
	  <li>New user reviews in place Information scene, scroll to the bottom and read them if the place is reviewed (have some yellow stars)</li>
	  <li>New transit overlay, it's just an overlay with transit lines on basic map type, doesn't support changing map types while transit is visible. Layer not stored in cookies.</li><br><br>
	  
	  0.2.0<br>
	  <li>New universal status/info/busy panel indicator</li>
	  <li>Disabled autocorrections and auto capitalize in search bar</li>
	  <li>New feature - Favorites: you can save the favorite places using Information scene star toggle button. The Favorite places will be visible on each app start marked by small yellow star.</li>  
	  <li>You can rename the place using tap and hold on the place name in Information scene</li>
	  <li>Added UI localization (thank to contributors) to Dutch, German, Polish, Chinese, Spanish </li>
	  <li>Added rating stars to standard bubbles too</li>
	  <li>Added Open hours info support in place information, at this time shows just if the shop is open/closed and Today open hours</li>
	  <li>Some minor bugfixes</li>
	  <li>Some code cleaning</li>
	  <li>Added support to set destination in Navit</li>
	  <li><i>Favorites could be a little unstable, please be patient</i></li><br><br>
	  	
	  0.1.9<br>
	  <li>Pre3 map centering fix (hope temporary workaround, visible grey flash after map move)</li>
	  <li>Map tiles caching improvement - faster app start to last map tiles</li>
	  <li>Fixed bug - Fullscreen mode works again</li>
	  <li>UI Localization to Czech, Italy, ...</li>
	  <li>Removed obsolete magnifying glas search icon from main screen - more space in top bar</li>
	  <li>Google forced to show the powered by Google logo in suggestions, fixed the multiplying logos</li>
	  <li>Decreased sensitivity of street view pan</li><br><br>
	  
	  
	  0.1.8<br>
	  <li>New coordinates search support, supported are all 7 world most used formats of coordinates</li>
	  <li>Here are the supported formats</li>
	    40:26:46N, 79:56:55W<br>
		40:26:46.302N 79:56:55.903W<br>
		40°26′47″N 79°58′36″W<br>
		40d26′47″N 79d58′36″W<br>
		40.446195N 79.948862W<br>
		40.446195, -79.948862<br>
		40°26.7717, -79°56.93172<br>
	  <li>New possibility to add a place to the Contacts</li>
	  <li>The map remembers zoom and center and apply them on startup (then GPS fix overrides the zoom and center)</li>
	  <li>New function: Tap and hold on the map drops the pin</li>
	  <li>New Night map theme</li>
	  <li>New bicycle layer</li>
	  <li>New weather layer (automatically adjusts the zoom)</li>
	  <li>New clouds layer (automatically adjusts the zoom)</li><br><br>
		
	  0.1.7<br>
	  <li>New Google API override language option, you can manually set API language</li>
	  <li>New swap button in directions (two arrows between text fields), you can swap origin/destination</li>
	  <li>New shortcuts (Info icon) in markers list to place info scene</li>
	  <li>New button in bottom right in place info scene, where you can share the place information via E-mail, SMS or just to copy to clipboard</li>
	  <li>Added internet connectivity check at startup</li><br><br>
	  
	  0.1.6<br>
	  <li>Traffic menu item moved to the top Layers popup menu - traffic is a layer, it is more logically</li>
	  <li>New icons for map types in menu</li>
	  <li>New scene "Markers" (accesible from bottom menu) - this scene contains all markers on map, you can sort them, tap to the marker centers the map to the marker</li>
	  <li>Directions contains new button in text fields, the buttons launch Markers scene, where you can select any marker as origin or destination</li>
	  <li>Fixed bug - My Location is now updated on every route request</li><br><br>
	  
	  0.1.5<br>
	  <li><b>This version may contain more bugs, because is not deeply tested, but better than not working previous version caused by gAPI change from Google side</b></li>
	  <li>Google disabled gAPI v3.6 previously used on WebOS 2.2 devices, this caused impossibility to marker tap in app version 0.1.4</li>
	  <li>WebOS2.2 devices now use nightly build of gAPI</li>
	  <li>Fixed the marker tap problem on WebOS 2.2 devices with gAPI nightly build</li>
	  <li>Very basic (just look around), but usable and stable StreetView for WebOS 2.1 devices (better than nothing)</li>
	  <li>New search for nearby places, read the hint bottom search bar.</li>
	  <li>Nearby places has rating and distance from request position</li>
	  <li>When suggestions doesn't exists, panel contains text "No results..." - it could make problems, it's a Google autocompleter hack</li>
	  <li>Fixed when you paste an address to the search bar</li>
	  <li>New icons for markers, for Pre3 in high resolution</li>
	  <li>New HD app icon for Pre3 launcher</li>
	  <li>Error dialog if the directions request is not complete</li>
	  <li>Fixed the InfoBubble look for WebOS2.2 and newer devices (was missing background)</li>
	  <li>Fixed the low velocity when following map is active</li>
	  <li>Map rotating optimization for decreasing CPU usage</li><br><br>
		
	  0.1.4<br>
	  <li>New Preferences scene</li>
	  <li>You can enable Fullscreen mode (usefull on small screen devices like Veer and Pixi), exit fullscreen through bottom menu</li>
	  <li>Override directions launch request as option</li>
	  <li>Map rotate to GPS heading as experimental feature... it isn't supported by Google API, it's a workaround, it renders some artefacts, ToDo to make it better</li>
	  <li>When Follow map function is active, the screen timeout and exhibition mode is blocked</li>
	  <li>When Follow map function is active, the top bar shows actual velocity if is higher than 0.5m/s</li>
	  <li>Fixed some not reported bugs</li>
	  <li>Moved bottom menu 10px higher for map scale visibility</li>
	  <li>New GPS blue dot - bigger than before</li>
	  <li>Opacity of blue circle is reduced to usable minimum</li>
	  <li>Improved (not revolutionary, but stable) pinch to zoom</li><br><br>
		
	  0.1.3<br>
	  <li>"Just type" search - any key press opens the serch bar</li>
	  <li>New Place Info scene (details, rating, homepage and button for make a call)</li>
	  <li>Application remembers Map type and Traffic layers</li>
	  <li>First attempt to speed optimization in moving the map</li><br><br>
	  
	  0.1.2<br>
	  <li>Completely new search, included POI's (it needs to add the Powered by Google logo), the search result is preferred from actual map bounds, the first result is the nearest place from map center</li>
	  <li>WebOS 2.2.x tap to marker toggles the bubble - fixed</li>
	  <li>The latest search result is now displayed in top bar</li>
	  <li>Some UI changes, wider directions panel</li>
	  <li>Hope that the TP stop panning is fixed... let me know to the forum please</li><br>
	  The switching to the Google autocompleter was a big change in code, it is possible that the app may contains new bugs. Still evolving...<br><br>
	  
	  0.1.1<br>
	  <li>Fixed route rendering for WebOS 1.4.x</li>
	  <li>Fixed TP orientation change (menu size, centering map)</li>
	  <li>New direction instructions in bubbles with bottom menu arrows</li>
	  <li>Compas icon activate "Map follows GPS" until the map is touched</li>
	  <li>New A and B flags on route</li>
	  <li>Clear map clears markers and route</li><br><br>
	  
	  0.1.0<br>
	  <li>New fancy info bubbles on markers</li>
	  <li>New actions on marker's bubble</li>
	  <li>New function "Clear map" in menu - removes all markers on map</li>
	  <li>New spinners when the app is busy</li>
	  <li>Fixed search on WebOS 1.4.x</li>
	  <li>Increased search field length</li>
	  <li>Known issue: route is not rendered on WebOS 1.4.5</li><br><br>
    
	  0.0.9<br>
      Completely replaced the Search and Directions functions. (Still in development, it is not perfect yet.)
      <li>New Searching dialogs (I hope more comfortable UI).</li>
      <li>The results are depending on your country</li>
      <li>Highlithing the search terms in result list </li>
      <li>New Directions dialog</li>
      <li>You can show/hide the directions results anytime</li>
      <li>Default Google infobubbles in your route - tap to the results panel row to show the bubble (horrible look, especially on TP... ToDo to make own bubbles)</li>
      <li>The app can handle JustType search and Event directions from system in both states (launching app or to running app)</li>
      <li>Default Google directions markers (sometimes wrong rendering on Pre3 - ToDo to make own markers)</li>
      <li>Added scale to the bottom of map (more usable in landscape)</li>
      <li>Fixed the spaces like "%20" from Just Type</li>
      <li>Other things that I can't remember :)</li>
	  <li>Added dozens of new bugs :) because the changes was huge...</li>
      <br><br>
 
      0.0.8<br>
      Added Just type plugin, for this time is available only the Search places (maploc). Directions will be in the next versions, because I have to rewrite directions at all. Added "walking" controls in StreetView.<br><br>
      
    	0.0.7<br>
			Fixed bugs: strange top bar button behavior, top bar size and map center (not for TP, because TP has a bug and can't handle orientation change event in MOJO) after orientation change<br>
			New features: check streetview availability spinner, new bottom menu layout, swapped + and - zoom buttons, back button in Search places for Touchpad, checkmarks for map type and traffic <br><br>
			
			0.0.6<br>
			Fixed UI size for Pre3, Added splash HD icon, some cleaning of code, Google API localization based on device country format, replaced default google marker<br><br>
			  
			0.0.5<br>
			Enabled Location support for Touchpad, Added Back button in About for Touchpad, Added Google traffic for Google supported countries, Fixing map paning during streetview, Added StreetView availability check<br><br>
			  
			0.0.4<br>
			Improved StreetView functionality, better Touchpad support<br><br>
			 
			0.0.3<br>
			Fixed map panning on WebOS 2.2.x devices<br><br>
			  
			0.0.2<br>
			Added basic Google Directions, some UI improvements<br><br>
			
			0.0.1<br>  
			First release, tested only on the Palm Pre Plus WebOS 2.1.
		</div>
   
</div>

</div>
</body></html>
