<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"></head>

<body>
	
<div class="help">

<div class="palm-page-header multi-line">
	<div class="palm-page-header-wrapper">
	    <div class="icon about-icon"></div>                         
		<div class="title" id="AppTitleText">
			</div>
		<div class="subtitle" id="AppVersionText">
		 </div>     
	</div>
</div>


<div class="palm-group">
    <div class="palm-group-title" x-mojo-loc='' id="DescriptionText">
        Description
    </div>
    <div class="palm-body-text" id="AppDescription">
	    This application is trying to be a replacement of unsupported Google Maps application for WebOS devices.
	    The application is based on the Google Maps API V3.
		Do you like this application? If do, you can support me in development. Thank you!
		</div>
   
</div>
<center>
<form action="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=5CTRZJLKKUBS4&lc=CZ&item_name=Jan%20Herman&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted" target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=5CTRZJLKKUBS4&lc=CZ&item_name=Jan%20Herman&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted" method="post">
				<input type="image" src="images/x-click-butcc-donate.gif" style="text-align: center" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
</form>
</center>

<div class="palm-group">
    <div class="palm-group-title" x-mojo-loc='' id="ContributorsText">
        Contributors
    </div>
    <div class="palm-body-text">
	    bigdoby (Italian translation)<br>
	    Herrie (Dutch translation)<br>
	    chris42 (German translation)<br>
	    briest (Polish translation)<br>
	    highrock2, tonyw (Chinese translation)<br>
	    jcmarcos (Spanish translation)<br>
	    HaPe (Route with Navit feature)<br>
	    Kratus (French translation)<br>
		</div>
   
</div>

<div class="palm-group">
    <div class="palm-group-title" x-mojo-loc='' id="ChangelogText">
        Changelog
    </div>
    <div class="palm-body-text">
		
	  0.3.0<br>
	  <li>New custom map pan and zoom - focused to performance</li>
	  <li>Overall performance tweaks</li>
	  <li>Fixed Route with Navit function to recent Navit version</li>
	  <li>Removed deprecated markerImage class</li>
	  <li>Fixed place photos for the new API compatibility</li>
	  <li>Fixed dropped pin information scene for the new API compatibility</li>
	  <li>Switched StreetView to native full API for webOS 2.1 devices too, looks like Google fixed it</li>
	  <li>Fixed compass needle orientation for all device orientations</li>
	  <li>Compass rose is rotated while map is rotated in follow mode</li>
	  <li>Compass rose available for all devices</li>
	  <li>Follow mode centered bottom for velocity > 10km/h</li>
	  <li>Markers and bubbles are not rotated when follow mode and map rotate is activated</li>
	  <li>Added current API version to About in subtitle</li>
	  <li>Fixed status panel position for landscape orientation</li>
	  <li>New price level information of the place (if available)</li>
	  <li>OSM smart caching - tiles are saved to local storage for future use</li>
	  <li>Possibility to share the offline tiles with MappingTool(Pro)</li>
	  <li>Cancelled FileMgr dependency for Navit check (for Route with Navit still needed)</li>
	  <li>Decreased the markers size</li>
	  <br><br>
	  
	  <a href="http://www.volny.cz/hp2/webos/maps/changelog.html">Full changelog</a><br>
		</div>
   
</div>

</div>
</body></html>
